Repository possible055/relace-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, mypy, bandit, ty

uv-lock-check:
  name: uv lock check
  entry: uv lock --locked
  language: system
  pass_filenames: false

mypy:
  name: mypy (daemon)
  entry: uv run --extra dev -- dmypy run -- src/
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: uv run --extra dev -- bandit -r src/ -c pyproject.toml
  language: system
  pass_filenames: false

ty:
  name: ty
  entry: uv run --extra dev -- ty check
  language: system
  pass_filenames: false

refactor(benchmark): introduce domain-driven architecture and granular APIs
  .bandit
  .pre-commit-config.yaml
  benchmark/domain/__init__.py
  benchmark/domain/checkpoint.py
  benchmark/domain/experiment.py
  benchmark/domain/metrics/__init__.py
  benchmark/domain/metrics/engine.py
  benchmark/domain/metrics/layered.py
  benchmark/domain/tools/__init__.py
  benchmark/domain/tools/registry.py
  benchmark/infrastructure/__init__.py
  benchmark/infrastructure/cache.py
  benchmark/services/__init__.py
  benchmark/services/experiment_service.py
  benchmark/tests/domain/__init__.py
  benchmark/tests/domain/test_checkpoint.py
  benchmark/tests/domain/test_experiment.py
  benchmark/tests/domain/test_layered_metrics.py
  benchmark/tests/domain/test_tool_registry.py
  benchmark/tests/infrastructure/__init__.py
  benchmark/tests/infrastructure/test_cache.py
  benchmark/tests/services/__init__.py
  benchmark/tests/services/test_experiment_service.py
  benchmark/viewer/api/__init__.py
  benchmark/viewer/api/cases.py
  benchmark/viewer/api/experiments.py
  benchmark/viewer/api/metrics.py
  benchmark/viewer/frontend/src/App.tsx
  benchmark/viewer/frontend/src/lib/api.ts
  benchmark/viewer/frontend/src/lib/types.ts
  benchmark/viewer/frontend/src/pages/CaseDetail.tsx
  benchmark/viewer/frontend/src/pages/Cases.tsx
  benchmark/viewer/frontend/src/pages/ExperimentDetail.tsx
  benchmark/viewer/frontend/src/pages/Experiments.tsx
  benchmark/viewer/server.py
Due: mypy, bandit, ty

fix(benchmark-web): repair frontend pre-push hooks
  .pre-commit-config.yaml
  benchmark/web/frontend/src/pages/ExperimentDetail.tsx
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: none

Notes added by 'git notes add'
  31e8e2ddcb5bccd3c96743855d676a6bfa25d07a
Due: none

ci: add quality gates and tighten pre-commit hooks
  .bandit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock-check

ci: add quality gates and tighten pre-commit hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock-check

fix(ci): clean bandit and frontend hook config
  .pre-commit-config.yaml
  pyproject.toml
Due: uv-lock-check

fix(bandit): remove unreachable assert_used skip patterns
  pyproject.toml
Due: uv-lock-check

Notes added by 'git notes add'
  7b19478fa11a9170c2d8e9211a5846b2e362c277
Due: none

ci(quality): add CI quality gates and consolidate tooling (#98)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock-check

refactor(repo): move background index monitor into repo
  .github/workflows/ci.yml
  src/relace_mcp/repo/monitor.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/mcp_status.py
  tests/retrieval/test_background_index_monitor_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  6f40a1e6638ec9439d5f756f44a0749c91266a06
Due: none

refactor(retrieval): replace inline semantic hints with first-turn guidance message
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  src/relace_mcp/search/__init__.py
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/harness/messages.py
  src/relace_mcp/search/retrieval.py
  tests/retrieval/test_agentic_retrieval_integration.py
  tests/retrieval/test_agentic_retrieval_unit.py
  tests/retrieval/test_index_status_probe_unit.py
  tests/search/test_harness_messages_unit.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
  tests/search/test_security_unit.py
  tests/search/test_tool_timeouts_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  3d8e22530f6eecb4ce05266e6a2313f79f337b10
Due: none

refactor(search)!: unify prompt system and simplify harness API
  README.md
  README.zh-CN.md
  src/relace_mcp/config/settings.py
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/prompt_messages.py
  src/relace_mcp/search/retrieval.py
  src/relace_mcp/search/schemas/prompts.py
  tests/config/test_reload_settings_unit.py
  tests/retrieval/test_agentic_retrieval_integration.py
  tests/retrieval/test_agentic_retrieval_unit.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  fcddeace952d025524a451418782c21bc38e4b18
Due: none

refactor(prompts): unify retrieval prompts with search architecture
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  3b423b394a3e05e6d9187c84ac8dbdd86e0eac3c
Due: none

fix(search): harden custom prompt bundle and path resolution
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/prompt_messages.py
  src/relace_mcp/search/retrieval.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  97a4a5492e27be5131e29a1c4b6506d150a14051
Due: none

refactor(search)!: unify YAML-driven prompt architecture across search and retrieval (#102)
  .github/workflows/ci.yml
  README.md
  README.zh-CN.md
  src/relace_mcp/config/settings.py
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  src/relace_mcp/repo/monitor.py
  src/relace_mcp/search/__init__.py
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/harness/messages.py
  src/relace_mcp/search/prompt_messages.py
  src/relace_mcp/search/retrieval.py
  src/relace_mcp/search/schemas/prompts.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/mcp_status.py
  tests/config/test_reload_settings_unit.py
  tests/retrieval/test_agentic_retrieval_integration.py
  tests/retrieval/test_agentic_retrieval_unit.py
  tests/retrieval/test_background_index_monitor_unit.py
  tests/retrieval/test_index_status_probe_unit.py
  tests/search/test_harness_messages_unit.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
  tests/search/test_security_unit.py
  tests/search/test_tool_timeouts_unit.py
Due: mypy, bandit, ty

refactor(search): consolidate openai prompts and modularize LSP
  src/relace_mcp/config/settings.py
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/prompt_messages.py
  src/relace_mcp/search/schemas/prompts.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  7aa65308ee34c8aceaa010a2f17ece9fc3a0d68b
Due: none

Notes added by 'git notes add'
  d084995a15d59e8655293b7d08210a516fc1644a
Due: none

feat(detection)!: replace summarization with TDDet
  .pre-commit-config.yaml
  benchmark/viewer/frontend/.prettierrc.json
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  benchmark/viewer/frontend/src/components/layout/Header.tsx
  benchmark/viewer/frontend/src/components/layout/Sidebar.tsx
  benchmark/viewer/frontend/src/components/ui/Card.tsx
  benchmark/viewer/frontend/src/fonts.css
  benchmark/viewer/frontend/src/index.css
  benchmark/viewer/frontend/src/lib/api.ts
  benchmark/viewer/frontend/src/pages/Experiments.tsx
  benchmark/viewer/frontend/src/styles/carbon-tokens.css
  benchmark/viewer/frontend/vite.config.ts
Due: none

docs: streamline user-facing documentation
  .gitignore
  README.md
  README.zh-CN.md
  benchmark/tests/docs/test_benchmark_docs.py
  benchmark/tests/viewer/test_web_api.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  docs/testing-audit.md
  docs/tools.md
  docs/tools.zh-CN.md
  tests/conftest.py
  tests/docs/test_user_docs_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  7d03cdfb76d76639282aef65226eb5de78f854e7
Due: none

refactor(search): tighten prompt instructions
  CHANGELOG.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  tests/conftest.py
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  be4c93386f6a75959bb17acded952c396dfbac2f
Due: none

refactor(search): modularize OpenAI prompts and streamline search docs (#113)
  .gitignore
  CHANGELOG.md
  README.md
  README.zh-CN.md
  benchmark/tests/docs/test_benchmark_docs.py
  benchmark/tests/viewer/test_web_api.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  docs/testing-audit.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/config/settings.py
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/prompt_messages.py
  src/relace_mcp/search/retrieval.py
  src/relace_mcp/search/schemas/prompts.py
  src/relace_mcp/tools/mcp_search.py
  tests/conftest.py
  tests/docs/test_user_docs_unit.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
  tests/tools/test_tools_unit.py
Due: mypy, bandit, ty

chore(deps): upgrade Python and frontend dependencies
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  uv.lock
Due: uv-lock-check

Notes added by 'git notes add'
  187907bc76adddd7a9745129d596cacf6b9e6b4e
Due: none

chore(deps): upgrade Python and frontend dependencies (#114)
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  uv.lock
Due: uv-lock-check

refactor(prompts): enhance clarity and structure of retrieval prompts in YAML configuration
  src/relace_mcp/prompts/retrieval_relace.yaml
Due: none

refactor(indexing)!: enforce single active index mode
  CHANGELOG.md
  README.md
  README.zh-CN.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/config/__init__.py
  src/relace_mcp/config/indexing.py
  src/relace_mcp/config/settings.py
  src/relace_mcp/repo/monitor.py
  src/relace_mcp/search/retrieval.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/_registry.py
  src/relace_mcp/tools/mcp_search.py
  src/relace_mcp/tools/mcp_status.py
  src/relace_mcp/tools/register.py
  tests/config/test_bootstrap_unit.py
  tests/config/test_config_unit.py
  tests/config/test_reload_settings_unit.py
  tests/docs/test_user_docs_unit.py
  tests/mcp/test_mcp_compliance_contract.py
  tests/retrieval/test_agentic_retrieval_integration.py
  tests/retrieval/test_agentic_retrieval_unit.py
  tests/retrieval/test_background_index_monitor_unit.py
  tests/retrieval/test_index_status_probe_unit.py
  tests/search/test_tool_timeouts_unit.py
  tests/server/test_dotenv_registration_integration.py
  tests/server/test_runtime_integration.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  23/1cc89bbaec595657b4a807b1ce2cf7ca8d33bd
Due: none

fix(base-dir): ignore Windsurf config root
  src/relace_mcp/config/base_dir.py
  tests/config/test_base_dir_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  8b/7d81d2203cff9095c12c325954efafa9e45d70
Due: none

refactor(status): simplify index_status schema
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/tools/mcp_status.py
  tests/mcp/test_mcp_compliance_contract.py
Due: mypy, bandit, ty

Path conditions:
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$
  mypy: any of: \.py$
  bandit: any of: \.py$
  ty: any of: \.py$
