Repository possible055/relace-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, mypy, bandit, ty

uv-lock-check:
  name: uv lock check
  entry: uv lock --locked
  language: system
  pass_filenames: false

mypy:
  name: mypy (daemon)
  entry: uv run --extra dev -- dmypy run -- src/
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: uv run --extra dev -- bandit -r src/ -c pyproject.toml
  language: system
  pass_filenames: false

ty:
  name: ty
  entry: uv run --extra dev -- ty check
  language: system
  pass_filenames: false

docs: clarify remove directive bypass semantics and update test naming
  docs/tools.md
  docs/tools.zh-CN.md
  tests/unit/test_apply_core.py
Due: mypy, bandit, ty

feat: consolidate status tools, harden fast_apply, and improve tool discoverability (#84)
  .env.example
  README.md
  README.zh-CN.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/prompts/apply_openai.yaml
  src/relace_mcp/repo/backends/chunkhound.py
  src/relace_mcp/repo/backends/codanna.py
  src/relace_mcp/repo/freshness.py
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
  tests/contract/test_mcp_compliance.py
  tests/integration/test_dotenv_tool_registration.py
  tests/integration/test_server.py
  tests/unit/test_apply_core.py
  tests/unit/test_chunkhound.py
  tests/unit/test_codanna.py
  tests/unit/test_encoding_detection_order.py
  tests/unit/test_freshness.py
  tests/unit/test_index_state.py
  tests/unit/test_index_status_probe.py
  tests/unit/test_snippet.py
  tests/unit/test_tool_timeouts.py
  tests/unit/test_tools.py
Due: mypy, bandit, ty

feat(search): harden ripgrep command building and input normalization
  src/relace_mcp/tools/search/_impl/grep_search.py
Due: mypy, bandit, ty

fix(grep): harden normalization semantics and wildcard filtering
  pyproject.toml
  src/relace_mcp/tools/search/_impl/grep_search.py
  tests/integration/test_search_commands.py
  tests/unit/test_search_handlers.py
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

Notes added by 'git notes add'
  e7c7509c449358220f2067dd65b98ede7e7358ae
Due: none

docs: document search behavior guarantees and fix PEP 440 version string
  README.md
  README.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  pyproject.toml
  src/relace_mcp/tools/search/_impl/grep_search.py
Due: uv-lock-check, mypy, bandit, ty

fix(search): normalize grep_search inputs and preserve ripgrep ignore semantics (#85)
  README.md
  README.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  pyproject.toml
  src/relace_mcp/tools/search/_impl/grep_search.py
  tests/integration/test_search_commands.py
  tests/unit/test_search_handlers.py
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

feat(benchmark): add search map analysis with trace metadata and semantic hints
  benchmark/analysis/search_map.py
  benchmark/cli/trace.py
  benchmark/runner/executor.py
  benchmark/tests/test_benchmark_docs.py
  benchmark/tests/test_search_map.py
  benchmark/tests/test_trace_cli.py
  benchmark/tests/test_trace_metadata.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_mcp/tools/retrieval.py
  tests/unit/test_agentic_retrieval.py
Due: mypy, bandit, ty

feat(benchmark): add trace artifact validation and enhanced metadata handling
  benchmark/analysis/search_map.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/trace.py
  benchmark/runner/executor.py
  benchmark/runner/metadata.py
  benchmark/runner/results.py
  benchmark/tests/test_benchmark_docs.py
  benchmark/tests/test_search_map.py
  benchmark/tests/test_trace_artifacts.py
  benchmark/tests/test_trace_cli.py
  benchmark/tests/test_trace_metadata.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_dashboard/app.py
  src/relace_dashboard/widgets.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  33ce3f2b923c5f83d2a041407d910353d87c910d
Due: none

refactor(benchmark): extract trace recording and consolidate artifact path management
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/analyze.py
  benchmark/cli/grid.py
  benchmark/cli/report.py
  benchmark/cli/run.py
  benchmark/cli/trace.py
  benchmark/config.py
  benchmark/experiment_paths.py
  benchmark/runner/__init__.py
  benchmark/runner/executor.py
  benchmark/runner/trace_recorder.py
  benchmark/tests/test_benchmark_docs.py
  benchmark/tests/test_experiment_paths.py
  benchmark/tests/test_trace_artifacts.py
  benchmark/tests/test_trace_cli.py
  benchmark/tests/test_trace_metadata.py
  benchmark/tests/test_trace_recorder.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

Notes added by 'git notes add'
  1d749fc2ed120ae51a3ac4e05a95c437bebae072
Due: none

refactor(benchmark): consolidate experiment naming and introduce hierarchical grid experiments
  benchmark/cli/grid.py
  benchmark/cli/report.py
  benchmark/cli/run.py
  benchmark/experiment_paths.py
  benchmark/runner/metadata.py
  benchmark/runner/results.py
  benchmark/tests/test_benchmark_docs.py
  benchmark/tests/test_experiment_paths.py
  benchmark/tests/test_grid_cli.py
  benchmark/tests/test_report_cli.py
  benchmark/tests/test_trace_artifacts.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

Notes added by 'git notes add'
  c6d5fe663eb6d73107a4dd0b1fa0a39f0f49a9b2
Due: none

refactor(benchmark): reorganize module structure with internal config package
  benchmark/__init__.py
  benchmark/_config/__init__.py
  benchmark/_config/paths.py
  benchmark/_config/settings.py
  benchmark/cli/analyze.py
  benchmark/cli/build_locbench.py
  benchmark/cli/curate.py
  benchmark/cli/grid.py
  benchmark/cli/report.py
  benchmark/cli/run.py
  benchmark/cli/trace.py
  benchmark/cli/validate.py
  benchmark/datasets/loader.py
  benchmark/runner/__init__.py
  benchmark/runner/executor.py
  benchmark/runner/experiment_paths.py
  benchmark/runner/trace_recorder.py
  benchmark/tests/test_experiment_paths.py
  benchmark/tests/test_grid_cli.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

Notes added by 'git notes add'
  fb61b47677515ddbb7ba146053d2a0a48e9909ee
Due: none

feat(benchmark): trace artifact pipeline, search map analysis, and module restructure (#86)
  benchmark/__init__.py
  benchmark/_config/__init__.py
  benchmark/_config/paths.py
  benchmark/_config/settings.py
  benchmark/analysis/search_map.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/analyze.py
  benchmark/cli/build_locbench.py
  benchmark/cli/curate.py
  benchmark/cli/grid.py
  benchmark/cli/report.py
  benchmark/cli/run.py
  benchmark/cli/trace.py
  benchmark/cli/validate.py
  benchmark/datasets/loader.py
  benchmark/runner/__init__.py
  benchmark/runner/executor.py
  benchmark/runner/experiment_paths.py
  benchmark/runner/metadata.py
  benchmark/runner/results.py
  benchmark/runner/trace_recorder.py
  benchmark/tests/test_benchmark_docs.py
  benchmark/tests/test_experiment_paths.py
  benchmark/tests/test_grid_cli.py
  benchmark/tests/test_report_cli.py
  benchmark/tests/test_search_map.py
  benchmark/tests/test_trace_artifacts.py
  benchmark/tests/test_trace_cli.py
  benchmark/tests/test_trace_metadata.py
  benchmark/tests/test_trace_recorder.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_dashboard/app.py
  src/relace_dashboard/widgets.py
  src/relace_mcp/tools/retrieval.py
  tests/unit/test_agentic_retrieval.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  7419540377fd5cc697cdc8cc3e24eaaa4acce19d
Due: none

refactor: split oversized modules along domain boundaries
  docs/advanced.zh-CN.md
  src/relace_mcp/apply/core.py
  src/relace_mcp/apply/error_responses.py
  src/relace_mcp/repo/backends/codanna.py
  src/relace_mcp/repo/backends/codanna_indexing.py
  src/relace_mcp/repo/backends/codanna_search.py
  src/relace_mcp/search/retrieval.py
  src/relace_mcp/tools/mcp_apply.py
  src/relace_mcp/tools/mcp_cloud.py
  src/relace_mcp/tools/mcp_resources.py
  src/relace_mcp/tools/mcp_search.py
  src/relace_mcp/tools/mcp_status.py
  src/relace_mcp/tools/register.py
  tests/retrieval/test_agentic_retrieval_unit.py
  tests/retrieval/test_codanna_unit.py
  tests/retrieval/test_index_status_probe_unit.py
  tests/server/test_runtime_integration.py
Due: mypy, bandit, ty

refactor: centralize settings parsing and extend reload mechanism
  .env.example
  README.md
  README.zh-CN.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  src/relace_mcp/config/settings.py
  src/relace_mcp/search/harness/core.py
  src/relace_mcp/search/schemas/prompts.py
  src/relace_mcp/search/schemas/tool_schemas.py
  tests/config/test_reload_settings_unit.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

refactor: disable glob tool and clarify bash security model
  docs/advanced.md
  docs/advanced.zh-CN.md
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai.yaml
  src/relace_mcp/prompts/search_relace.yaml
  src/relace_mcp/search/_impl/__init__.py
  src/relace_mcp/search/harness/constants.py
  src/relace_mcp/search/harness/messages.py
  src/relace_mcp/search/harness/tool_calls.py
  src/relace_mcp/search/schemas/tool_schemas.py
  tests/search/test_commands_integration.py
  tests/search/test_handlers_unit.py
  tests/search/test_harness_unit.py
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

refactor: centralize settings parsing and extend reload mechanism
  benchmark/cli/grid.py
  benchmark/cli/run.py
  benchmark/runner/metadata.py
  benchmark/tests/cli/test_grid_cli.py
  benchmark/tests/cli/test_run_cli.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_mcp/clients/apply.py
  src/relace_mcp/clients/search.py
  src/relace_mcp/config/__init__.py
  src/relace_mcp/config/bootstrap.py
  src/relace_mcp/config/settings.py
  src/relace_mcp/lsp/manager.py
  src/relace_mcp/repo/cloud/_sync_constants.py
  src/relace_mcp/repo/cloud/_sync_hashing.py
  src/relace_mcp/search/_impl/__init__.py
  src/relace_mcp/search/_impl/constants.py
  src/relace_mcp/search/_impl/lsp.py
  src/relace_mcp/server.py
  tests/apply/test_apply_client_unit.py
  tests/config/test_bootstrap_unit.py
  tests/config/test_config_unit.py
  tests/config/test_reload_settings_unit.py
  tests/search/test_client_unit.py
  tests/server/test_dotenv_registration_integration.py
  tests/server/test_runtime_integration.py
Due: mypy, bandit, ty

fix(search): resolve /repo virtual path sandbox checks
  src/relace_mcp/search/_impl/bash_security.py
  tests/search/test_handlers_unit.py
  tests/search/test_security_unit.py
Due: mypy, bandit, ty

docs: align docs with tool visibility and env contracts
  README.md
  README.zh-CN.md
  benchmark/cli/run.py
  benchmark/tests/docs/test_benchmark_docs.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  tests/docs/test_user_docs_unit.py
  tests/mcp/test_mcp_compliance_contract.py
Due: mypy, bandit, ty

fix(server): initialize dotenv before module imports
  src/relace_mcp/config/settings.py
  src/relace_mcp/server.py
  tests/config/test_reload_settings_unit.py
  tests/server/test_dotenv_registration_integration.py
Due: mypy, bandit, ty

test: align env-backed settings in timeout and LSP manager tests
  tests/lsp/test_logging_unit.py
  tests/lsp/test_multi_language_unit.py
  tests/search/test_tool_timeouts_unit.py
Due: mypy, bandit, ty

fix(runtime): harden env parsing and init flow
  src/relace_mcp/config/settings.py
  src/relace_mcp/lsp/manager.py
  src/relace_mcp/server.py
  tests/config/test_reload_settings_unit.py
  tests/lsp/test_multi_language_unit.py
  tests/server/test_runtime_integration.py
Due: mypy, bandit, ty

fix: remove redundant settings reload call
  benchmark/runner/metadata.py
Due: mypy, bandit, ty

fix(config): make env reload atomic and harden prompts
  src/relace_mcp/config/__init__.py
  src/relace_mcp/config/settings.py
  tests/config/test_reload_settings_unit.py
  tests/search/test_prompts_unit.py
Due: mypy, bandit, ty

feat(benchmark): augment search map with bash parsing, bundle export, and cross-run case comparison
  benchmark/analysis/case_map_compare.py
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/__init__.py
  benchmark/cli/case_map.py
  benchmark/cli/trace.py
  benchmark/runner/executor.py
  benchmark/runner/trace_recorder.py
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/cli/test_case_map_cli.py
  benchmark/tests/cli/test_trace_cli.py
  benchmark/tests/runner/test_trace_metadata.py
  benchmark/tests/runner/test_trace_recorder.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

Notes added by 'git notes add'
  5259993734c5df2e490f593b663927f510c81b9f
Due: none

Notes added by 'git notes add'
  c6ca3352986ffb810acef2bcb1e284508f6a1bb0
Due: none

Path conditions:
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$
  mypy: any of: \.py$
  bandit: any of: \.py$
  ty: any of: \.py$
