Repository possible055/relace-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, mypy, bandit, ty

uv-lock-check:
  name: uv lock check
  entry: uv lock --locked
  language: system
  pass_filenames: false

mypy:
  name: mypy (daemon)
  entry: uv run --extra dev -- dmypy run -- src/
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: uv run --extra dev -- bandit -r src/ -c pyproject.toml
  language: system
  pass_filenames: false

ty:
  name: ty
  entry: uv run --extra dev -- ty check
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  0e7df2e100177f38f47475208e954c59568c3cd7
Due: none

feat(indexing): background index monitoring with cross-platform locking (#89)
  .env.example
  .gitignore
  README.md
  README.zh-CN.md
  benchmark/cli/run.py
  benchmark/tests/cli/test_run_cli.py
  benchmark/tests/docs/test_benchmark_docs.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  docs/testing-audit.md
  docs/tools.md
  docs/tools.zh-CN.md
  scripts/clone-dev-tree.sh
  src/relace_dashboard/app.py
  src/relace_dashboard/log_reader.py
  src/relace_dashboard/widgets.py
  src/relace_mcp/background_index_monitor.py
  src/relace_mcp/config/settings.py
  src/relace_mcp/middleware/__init__.py
  src/relace_mcp/middleware/visibility.py
  src/relace_mcp/repo/backends/chunkhound.py
  src/relace_mcp/repo/backends/codanna_indexing.py
  src/relace_mcp/repo/backends/locking.py
  src/relace_mcp/repo/backends/registry.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/mcp_cloud.py
  src/relace_mcp/tools/mcp_resources.py
  src/relace_mcp/tools/mcp_status.py
  src/relace_mcp/tools/register.py
  tests/config/test_reload_settings_unit.py
  tests/dashboard/test_log_reader_unit.py
  tests/mcp/test_mcp_compliance_contract.py
  tests/retrieval/test_background_index_monitor_unit.py
  tests/retrieval/test_index_status_probe_unit.py
  tests/search/test_commands_integration.py
  tests/search/test_handlers_unit.py
  tests/search/test_harness_unit.py
  tests/server/test_runtime_integration.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  ce0e528d2f9c17a24b3ad7e8abf80085862b779d
Due: none

Notes added by 'git notes add'
  85b88e1b7b8988504d0d42b9684fd92c45fe2f74
Due: none

fix(tests): update tool schema tests for disabled glob tool
  tests/search/test_harness_unit.py
Due: mypy, bandit, ty

fix(tests): enhance glob tool test to verify internal implementation availability
  tests/search/test_harness_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  4c7b5fc23eea07aff5b366e71e129fae40fec398
Due: none

fix(tests): update tool schema tests for disabled glob tool (#90)
  tests/search/test_harness_unit.py
Due: mypy, bandit, ty

feat(benchmark): augment search map with bash parsing, bundle export, and cross-run case comparison
  benchmark/analysis/case_map_compare.py
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/__init__.py
  benchmark/cli/case_map.py
  benchmark/cli/trace.py
  benchmark/runner/executor.py
  benchmark/runner/trace_recorder.py
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/cli/test_case_map_cli.py
  benchmark/tests/cli/test_trace_cli.py
  benchmark/tests/runner/test_trace_metadata.py
  benchmark/tests/runner/test_trace_recorder.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

feat(benchmark): augment search map with bash parsing, bundle export, and cross-run case comparison (#91)
  benchmark/analysis/case_map_compare.py
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/__init__.py
  benchmark/cli/case_map.py
  benchmark/cli/trace.py
  benchmark/runner/executor.py
  benchmark/runner/trace_recorder.py
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/cli/test_case_map_cli.py
  benchmark/tests/cli/test_trace_cli.py
  benchmark/tests/runner/test_trace_metadata.py
  benchmark/tests/runner/test_trace_recorder.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

feat(benchmark): add web analyzer with FastAPI backend and React frontend
  .gitignore
  benchmark/analysis/search_map.py
  benchmark/cli/__init__.py
  benchmark/cli/web.py
  benchmark/frontend/index.html
  benchmark/frontend/package-lock.json
  benchmark/frontend/package.json
  benchmark/frontend/src/App.tsx
  benchmark/frontend/src/components/layout/Header.tsx
  benchmark/frontend/src/components/layout/Layout.tsx
  benchmark/frontend/src/components/layout/Sidebar.tsx
  benchmark/frontend/src/components/ui/Card.tsx
  benchmark/frontend/src/index.css
  benchmark/frontend/src/lib/api.ts
  benchmark/frontend/src/lib/experimentRoots.ts
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/main.tsx
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/frontend/src/pages/Experiments.tsx
  benchmark/frontend/src/pages/RunDetail.tsx
  benchmark/frontend/src/styles/carbon-tokens.css
  benchmark/frontend/src/vite-env.d.ts
  benchmark/frontend/tsconfig.app.json
  benchmark/frontend/tsconfig.json
  benchmark/frontend/tsconfig.node.json
  benchmark/frontend/vite.config.ts
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/cli/test_web_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/__init__.py
  benchmark/web/api.py
  benchmark/web/discovery.py
  benchmark/web/static/dev-index.html
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  pyproject.toml
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

security: fix path traversal and information disclosure vulnerabilities
  benchmark/analysis/trace_artifacts.py
  benchmark/web/api.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  0a42b49cebcf5d646db6076d88d732df5ab20a87
Due: none

ci: suppress CodeQL path-injection false positives with lgtm annotations
  benchmark/analysis/search_map_bundle.py
  benchmark/analysis/trace_artifacts.py
  benchmark/web/api.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  5545e08030979b67e344ca60dba6d2042f3a53d9
Due: none

fix: address CodeQL alerts and exception handling gaps across backend and frontend
  benchmark/frontend/src/lib/experimentRoots.ts
  benchmark/web/api.py
  benchmark/web/discovery.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  4e68e33363fe81cf2af5af7f33ef9c17cdfac0a9
Due: none

feat(benchmark): add web analyzer with FastAPI backend and React frontend (#92)
  .gitignore
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/__init__.py
  benchmark/cli/web.py
  benchmark/frontend/index.html
  benchmark/frontend/package-lock.json
  benchmark/frontend/package.json
  benchmark/frontend/src/App.tsx
  benchmark/frontend/src/components/layout/Header.tsx
  benchmark/frontend/src/components/layout/Layout.tsx
  benchmark/frontend/src/components/layout/Sidebar.tsx
  benchmark/frontend/src/components/ui/Card.tsx
  benchmark/frontend/src/index.css
  benchmark/frontend/src/lib/api.ts
  benchmark/frontend/src/lib/experimentRoots.ts
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/main.tsx
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/frontend/src/pages/Experiments.tsx
  benchmark/frontend/src/pages/RunDetail.tsx
  benchmark/frontend/src/styles/carbon-tokens.css
  benchmark/frontend/src/vite-env.d.ts
  benchmark/frontend/tsconfig.app.json
  benchmark/frontend/tsconfig.json
  benchmark/frontend/tsconfig.node.json
  benchmark/frontend/vite.config.ts
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/cli/test_web_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/__init__.py
  benchmark/web/api.py
  benchmark/web/discovery.py
  benchmark/web/static/dev-index.html
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  pyproject.toml
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

fix(benchmark): use stable run_id keys and escape markdown in case comparison
  benchmark/analysis/case_map_compare.py
  benchmark/cli/web.py
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/tests/cli/test_case_map_cli.py
  benchmark/tests/cli/test_web_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/api.py
Due: mypy, bandit, ty

feat(benchmark): augment search map with exploration tree and per-case detail API
  .pre-commit-config.yaml
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/frontend/eslint.config.js
  benchmark/frontend/package-lock.json
  benchmark/frontend/package.json
  benchmark/frontend/src/App.tsx
  benchmark/frontend/src/components/search/ExplorationTree.tsx
  benchmark/frontend/src/lib/api.ts
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/frontend/src/pages/Experiments.tsx
  benchmark/frontend/src/pages/RunDetail.tsx
  benchmark/frontend/tsconfig.app.json
  benchmark/frontend/vite.config.ts
  benchmark/tests/cli/test_trace_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/api.py
Due: mypy, bandit, ty

fix: add lgtm comment for path injection warning
  benchmark/analysis/search_map_bundle.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  7779506266f3d59c442caa44b850cfac3cdc02a6
Due: none

fix: add error handling to API and fix form input state
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/web/api.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  49f48b5b0c9a184a2a041206e8cabdd34dd5939b
Due: none

feat(benchmark): augment search map with exploration tree and per-case detail API (#93)
  .pre-commit-config.yaml
  benchmark/analysis/case_map_compare.py
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/cli/web.py
  benchmark/frontend/eslint.config.js
  benchmark/frontend/package-lock.json
  benchmark/frontend/package.json
  benchmark/frontend/src/App.tsx
  benchmark/frontend/src/components/search/ExplorationTree.tsx
  benchmark/frontend/src/lib/api.ts
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/frontend/src/pages/Experiments.tsx
  benchmark/frontend/src/pages/RunDetail.tsx
  benchmark/frontend/tsconfig.app.json
  benchmark/frontend/vite.config.ts
  benchmark/tests/cli/test_case_map_cli.py
  benchmark/tests/cli/test_trace_cli.py
  benchmark/tests/cli/test_web_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/api.py
Due: mypy, bandit, ty

fix: update pre-commit hooks paths for viewer module restructuring
  .pre-commit-config.yaml
Due: none

Notes added by 'git notes add'
  2baee1543d674720c7b28aa9b35378a86702f027
Due: none

feat(benchmark): add unified CLI entry point with command groups
  benchmark/cli/__init__.py
  benchmark/cli/__main__.py
  benchmark/cli/analyze.py
  benchmark/tests/cli/test_analyze_cli.py
Due: mypy, bandit, ty

feat(benchmark): add unified CLI entry point with command groups (#95)
  benchmark/cli/__init__.py
  benchmark/cli/__main__.py
  benchmark/cli/analyze.py
  benchmark/tests/cli/test_analyze_cli.py
Due: mypy, bandit, ty

feat: enhance UI with design tokens, skeleton loading, and self-hosted fonts
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-400.woff2
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-500.woff2
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-600.woff2
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-700.woff2
  benchmark/viewer/frontend/src/assets/fonts/jetbrains-mono/jetbrains-mono-400.woff2
  benchmark/viewer/frontend/src/components/layout/Header.tsx
  benchmark/viewer/frontend/src/components/ui/Card.tsx
  benchmark/viewer/frontend/src/components/ui/Skeleton.tsx
  benchmark/viewer/frontend/src/fonts.css
  benchmark/viewer/frontend/src/index.css
  benchmark/viewer/frontend/src/lib/utils.ts
  benchmark/viewer/frontend/src/pages/CaseCompare.tsx
  benchmark/viewer/frontend/src/pages/Experiments.tsx
  benchmark/viewer/frontend/src/pages/RunDetail.tsx
  benchmark/viewer/frontend/src/styles/carbon-tokens.css
Due: none

Notes added by 'git notes add'
  474a16f53b14355d8051312c87a1d790449acea2
Due: none

refactor(benchmark): streamline viewer architecture and add journey graph infrastructure
  .github/copilot-instructions.md
  benchmark/analysis/journey_graph.py
  benchmark/analysis/search_map_bundle.py
  benchmark/tests/analysis/test_journey_graph.py
  benchmark/tests/viewer/test_web_api.py
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  benchmark/viewer/frontend/src/App.tsx
  benchmark/viewer/frontend/src/components/layout/Header.tsx
  benchmark/viewer/frontend/src/components/layout/Layout.tsx
  benchmark/viewer/frontend/src/components/layout/Sidebar.tsx
  benchmark/viewer/frontend/src/components/search/ExplorationTree.tsx
  benchmark/viewer/frontend/src/components/ui/Card.tsx
  benchmark/viewer/frontend/src/lib/api.ts
  benchmark/viewer/frontend/src/lib/experimentRoots.ts
  benchmark/viewer/frontend/src/lib/types.ts
  benchmark/viewer/frontend/src/pages/CaseCompare.tsx
  benchmark/viewer/frontend/src/pages/Experiments.tsx
  benchmark/viewer/frontend/src/pages/RunDetail.tsx
  benchmark/viewer/server.py
Due: mypy, bandit, ty

refactor(benchmark): improve error handling and event deduplication
  .gitignore
  .pre-commit-config.yaml
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/analysis/trace_artifacts.py
  benchmark/cli/analyze.py
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/analysis/test_search_map_bundle.py
  benchmark/tests/analysis/test_trace_artifacts.py
  benchmark/tests/cli/test_analyze_cli.py
  benchmark/tests/viewer/test_discovery.py
  benchmark/viewer/discovery.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
Due: mypy, bandit, ty

Notes added by 'git notes add'
  4ac76326516453cb825a367ba7c6a8286fb7f1db
Due: none

Notes added by 'git notes add'
  1daea79cd651046c58a22a732e4f8686c647cd2b
Due: none

Notes added by 'git notes add'
  4d3789818c3c1e9f556f6d7c10469c2f55605579
Due: none

Notes added by 'git notes add'
  6246974be0b411efc4f5d4df7503bbfedb83132d
Due: none

Path conditions:
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$
  mypy: any of: \.py$
  bandit: any of: \.py$
  ty: any of: \.py$
