Repository possible055/relace-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, mypy, bandit, ty

uv-lock-check:
  name: uv lock check
  entry: uv lock --locked
  language: system
  pass_filenames: false

mypy:
  name: mypy (daemon)
  entry: uv run --extra dev -- dmypy run -- src/
  language: system
  pass_filenames: false

bandit:
  name: bandit
  entry: uv run --extra dev -- bandit -r src/ -c pyproject.toml
  language: system
  pass_filenames: false

ty:
  name: ty
  entry: uv run --extra dev -- ty check
  language: system
  pass_filenames: false

feat(benchmark): add web analyzer with FastAPI backend and React frontend
  .gitignore
  benchmark/analysis/search_map.py
  benchmark/cli/__init__.py
  benchmark/cli/web.py
  benchmark/frontend/index.html
  benchmark/frontend/package-lock.json
  benchmark/frontend/package.json
  benchmark/frontend/src/App.tsx
  benchmark/frontend/src/components/layout/Header.tsx
  benchmark/frontend/src/components/layout/Layout.tsx
  benchmark/frontend/src/components/layout/Sidebar.tsx
  benchmark/frontend/src/components/ui/Card.tsx
  benchmark/frontend/src/index.css
  benchmark/frontend/src/lib/api.ts
  benchmark/frontend/src/lib/experimentRoots.ts
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/main.tsx
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/frontend/src/pages/Experiments.tsx
  benchmark/frontend/src/pages/RunDetail.tsx
  benchmark/frontend/src/styles/carbon-tokens.css
  benchmark/frontend/src/vite-env.d.ts
  benchmark/frontend/tsconfig.app.json
  benchmark/frontend/tsconfig.json
  benchmark/frontend/tsconfig.node.json
  benchmark/frontend/vite.config.ts
  benchmark/tests/analysis/test_search_map.py
  benchmark/tests/cli/test_web_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/__init__.py
  benchmark/web/api.py
  benchmark/web/discovery.py
  benchmark/web/static/dev-index.html
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  pyproject.toml
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

Notes added by 'git notes add'
  e5b8e1dde107171d614381c1c685cc0208bb45de
Due: none

feat(indexing): add background monitor with cross-platform locking for local indexes
  .env.example
  README.md
  README.zh-CN.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/background_index_monitor.py
  src/relace_mcp/config/settings.py
  src/relace_mcp/repo/backends/chunkhound.py
  src/relace_mcp/repo/backends/codanna_indexing.py
  src/relace_mcp/repo/backends/locking.py
  src/relace_mcp/repo/backends/registry.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/mcp_status.py
  tests/config/test_reload_settings_unit.py
  tests/retrieval/test_background_index_monitor_unit.py
  tests/retrieval/test_index_status_probe_unit.py
Due: mypy, bandit, ty

fix(benchmark): use stable run_id keys and escape markdown in case comparison
  benchmark/analysis/case_map_compare.py
  benchmark/cli/web.py
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/tests/cli/test_case_map_cli.py
  benchmark/tests/cli/test_web_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/api.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  29557ca4d0c12468a3cc0c4676c0e3c64c9590ff
  cabf5c5cb4072a711618edcdd52aa4db36f75f6d
Due: none

feat(benchmark): augment search map with exploration tree and per-case detail API
  .pre-commit-config.yaml
  benchmark/analysis/search_map.py
  benchmark/analysis/search_map_bundle.py
  benchmark/frontend/eslint.config.js
  benchmark/frontend/package-lock.json
  benchmark/frontend/package.json
  benchmark/frontend/src/App.tsx
  benchmark/frontend/src/components/search/ExplorationTree.tsx
  benchmark/frontend/src/lib/api.ts
  benchmark/frontend/src/lib/types.ts
  benchmark/frontend/src/pages/CaseCompare.tsx
  benchmark/frontend/src/pages/Experiments.tsx
  benchmark/frontend/src/pages/RunDetail.tsx
  benchmark/frontend/tsconfig.app.json
  benchmark/frontend/vite.config.ts
  benchmark/tests/cli/test_trace_cli.py
  benchmark/tests/web/test_web_api.py
  benchmark/web/api.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  44aca3d6b9eca6e8051cd3eba3d4d03e25b0fe88
Due: none

Notes added by 'git notes add'
  1507d5a20c94cdd801eaec8dafbc7aeab03e4298
Due: none

Notes added by 'git notes add'
  8de384a443f4a4ec41b7cbe7f9aaccf7ed4c589d
Due: none

feat(benchmark): add unified CLI entry point with command groups
  benchmark/cli/__init__.py
  benchmark/cli/__main__.py
  benchmark/cli/analyze.py
  benchmark/tests/cli/test_analyze_cli.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  f023a1bad8f237dc50e6b827a044e7d5e56d0a19
Due: none

fix(benchmark): improve robustness against corrupt JSON files
  benchmark/analysis/search_map_bundle.py
  benchmark/tests/analysis/test_search_map_bundle_robustness.py
  benchmark/viewer/discovery.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  729c8d3ca925ef1f2fe4e75affd5ae0d1b459b3c
Due: none

feat: enhance UI with design tokens, skeleton loading, and self-hosted fonts
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-400.woff2
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-500.woff2
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-600.woff2
  benchmark/viewer/frontend/src/assets/fonts/inter/inter-700.woff2
  benchmark/viewer/frontend/src/assets/fonts/jetbrains-mono/jetbrains-mono-400.woff2
  benchmark/viewer/frontend/src/components/layout/Header.tsx
  benchmark/viewer/frontend/src/components/ui/Card.tsx
  benchmark/viewer/frontend/src/components/ui/Skeleton.tsx
  benchmark/viewer/frontend/src/fonts.css
  benchmark/viewer/frontend/src/index.css
  benchmark/viewer/frontend/src/lib/utils.ts
  benchmark/viewer/frontend/src/pages/CaseCompare.tsx
  benchmark/viewer/frontend/src/pages/Experiments.tsx
  benchmark/viewer/frontend/src/pages/RunDetail.tsx
  benchmark/viewer/frontend/src/styles/carbon-tokens.css
Due: none

Notes added by 'git notes add'
  c8f9fe1617bf6bf9a3a59bfc4c0ba814acc2642b
Due: none

fix(ci): correct frontend hook paths and ignore .dev directory
  .gitignore
  .pre-commit-config.yaml
Due: none

Notes added by 'git notes add'
  bf571c74e8a065ab029f3ec113f1ee44bf06ea60
Due: none

Notes added by 'git notes add'
  54b56e23f3dfc1b823da23a639e23505de53a8ff
Due: none

Notes added by 'git notes add'
  65e5ba3d01fd2d265a19f8923f09c672b5581773
Due: none

Notes added by 'git notes add'
  c755186f48b2e49341a44b7f4dd73baa3b23a4bc
Due: none

Notes added by 'git notes add'
  bbf17a6203fa7fe19c37702b3e0f56d9ad064bc0
Due: none

Notes added by 'git notes add'
  a5508b30eb469442ca205f2903e3ca04375c4c6e
Due: none

refactor(tool): decompose MCP tools by domain and align test suite
  benchmark/cli/run.py
  benchmark/tests/cli/test_run_cli.py
  benchmark/tests/docs/test_benchmark_docs.py
  docs/testing-audit.md
  src/relace_mcp/search/_impl/constants.py
  tests/config/test_reload_settings_unit.py
  tests/search/test_commands_integration.py
  tests/search/test_handlers_unit.py
  tests/search/test_harness_unit.py
Due: mypy, bandit, ty

fix(indexing): normalize lock error status in background index monitor
  README.md
  README.zh-CN.md
  scripts/clone-dev-tree.sh
  src/relace_mcp/background_index_monitor.py
  src/relace_mcp/repo/backends/chunkhound.py
  src/relace_mcp/repo/backends/codanna_indexing.py
  tests/retrieval/test_background_index_monitor_unit.py
Due: mypy, bandit, ty

refactor(cloud): eliminate middleware overhead and consolidate cloud resources
  .gitignore
  README.md
  README.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  scripts/clone-dev-tree.sh
  src/relace_mcp/middleware/__init__.py
  src/relace_mcp/middleware/visibility.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/mcp_cloud.py
  src/relace_mcp/tools/mcp_resources.py
  src/relace_mcp/tools/register.py
  tests/mcp/test_mcp_compliance_contract.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  184123165f2c846dd8210c6fd2e27cc753526bdd
  1a244ae6c3afddb1cd44a42aa4f5e612db8ab6b1
  363cb14fead1cba19d8bf2492833c9e6abf88f89
  477cc27300ee695de71bc428d5f85dccc98edadd
  58e520f10e87f129e4f6c216f598f34d562e12c9
  96f69cf737b4bc50117f9225b09c2077c23b6d17
  a452124cc239d7788ec156e43a566ba85bcbedda
  c458f6b97158b652975135b22ff67e92e85aca9a
  c54e4e0344cfbfc9ab2b76a598c94b56537c344f
Due: none

fix(search): correct imports and remove unused dependencies
  src/relace_mcp/search/_impl/constants.py
  tests/config/test_reload_settings_unit.py
  tests/search/test_commands_integration.py
  tests/search/test_handlers_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  45b29cf8c044f89647daae13f462fd066b896d2c
Due: none

chore(ai): checkpoint 20260323-083823
  .gitignore
  benchmark/analysis/journey_graph.py
  benchmark/analysis/search_map_bundle.py
  benchmark/tests/analysis/test_journey_graph.py
  benchmark/tests/viewer/test_web_api.py
  benchmark/viewer/frontend/package-lock.json
  benchmark/viewer/frontend/package.json
  benchmark/viewer/frontend/src/App.tsx
  benchmark/viewer/frontend/src/components/layout/Header.tsx
  benchmark/viewer/frontend/src/components/layout/Layout.tsx
  benchmark/viewer/frontend/src/components/layout/Sidebar.tsx
  benchmark/viewer/frontend/src/components/search/GraphDiagnostics.tsx
  benchmark/viewer/frontend/src/components/search/SingleCaseJourneyGraph.tsx
  benchmark/viewer/frontend/src/components/ui/Card.tsx
  benchmark/viewer/frontend/src/cytoscape-extensions.d.ts
  benchmark/viewer/frontend/src/lib/types.ts
  benchmark/viewer/frontend/src/pages/RunDetail.tsx
Due: mypy, bandit, ty

feat: conditionally register index_status tool based on indexing capabilities
  .gitignore
  README.md
  README.zh-CN.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_dashboard/app.py
  src/relace_dashboard/log_reader.py
  src/relace_dashboard/widgets.py
  src/relace_mcp/tools/register.py
  tests/dashboard/test_log_reader_unit.py
  tests/mcp/test_mcp_compliance_contract.py
  tests/retrieval/test_index_status_probe_unit.py
  tests/server/test_runtime_integration.py
Due: mypy, bandit, ty

fix: resolve code review issues in tools and locking
  src/relace_mcp/repo/backends/locking.py
  src/relace_mcp/search/schemas/tool_schemas.py
  tests/search/test_harness_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  6ceaac664275264bbc02fbd777e999ad347afb79
Due: none

chore(ai): checkpoint 20260323-192331
  benchmark/tests/viewer/test_web_api.py
  benchmark/viewer/frontend/src/App.tsx
  benchmark/viewer/frontend/src/components/layout/Header.tsx
  benchmark/viewer/frontend/src/components/layout/Layout.tsx
  benchmark/viewer/frontend/src/components/layout/Sidebar.tsx
  benchmark/viewer/frontend/src/components/search/ExplorationTree.tsx
  benchmark/viewer/frontend/src/components/search/GraphDiagnostics.tsx
  benchmark/viewer/frontend/src/components/search/SingleCaseJourneyGraph.tsx
  benchmark/viewer/frontend/src/cytoscape-extensions.d.ts
  benchmark/viewer/frontend/src/lib/api.ts
  benchmark/viewer/frontend/src/lib/experimentRoots.ts
  benchmark/viewer/frontend/src/lib/types.ts
  benchmark/viewer/frontend/src/pages/CaseCompare.tsx
  benchmark/viewer/frontend/src/pages/Experiments.tsx
  benchmark/viewer/frontend/src/pages/RunDetail.tsx
  benchmark/viewer/server.py
Due: mypy, bandit, ty

feat: refactor task scheduling and add error recovery
  src/relace_mcp/background_index_monitor.py
  src/relace_mcp/repo/backends/locking.py
  src/relace_mcp/repo/backends/registry.py
  tests/retrieval/test_background_index_monitor_unit.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  b223c35df705dfcf4e58f861b349d9c0c3d951bc
Due: none

docs: clarify background monitor settings lifecycle and exclude temporary lock directories
  .gitignore
  src/relace_mcp/background_index_monitor.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  980631cb484e52db2ce442e2d406274580f6b973
Due: none

fix(search): disable glob tool in default schema to prevent MCP invocation
  src/relace_mcp/search/schemas/tool_schemas.py
Due: mypy, bandit, ty

Path conditions:
  uv-lock-check: any of: (pyproject\.toml|uv\.lock)$
  mypy: any of: \.py$
  bandit: any of: \.py$
  ty: any of: \.py$
