Repository possible055/relace-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, mypy, bandit, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-ast
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-added-large-files
        args: ["--maxkb=1500"]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Ruff — format first, then lint
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff-format
        types: [python]
      - id: ruff-check
        args: ["--fix"]
        types: [python]

  - repo: local
    hooks:
      # uv lockfile sync — ensure uv.lock matches pyproject.toml
      - id: uv-lock-check
        name: uv lock check
        entry: uv lock --locked
        language: system
        files: '(pyproject\.toml|uv\.lock)$'
        pass_filenames: false

      # Python type check — dmypy daemon
      - id: mypy
        name: mypy (daemon)
        entry: uv run --extra dev -- dmypy run -- src/
        language: system
        files: '\.py$'
        pass_filenames: false

      # Python security scan
      - id: bandit
        name: bandit
        entry: uv run --extra dev -- bandit -r src/ -c pyproject.toml
        language: system
        files: '\.py$'
        pass_filenames: false

      # ty type check
      - id: ty
        name: ty
        entry: uv run --extra dev -- ty check
        language: system
        files: '\.py$'
        pass_filenames: false

feat(observability): safe-mode redaction engine, LSP lifecycle events, and event docs
  benchmark/runner/executor.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  src/relace_mcp/lsp/client.py
  src/relace_mcp/lsp/logging.py
  src/relace_mcp/lsp/manager.py
  src/relace_mcp/observability/events.py
  src/relace_mcp/observability/traces.py
  src/relace_mcp/repo/backends/chunkhound.py
  tests/conftest.py
  tests/unit/test_chunkhound.py
  tests/unit/test_lsp_logging.py
  tests/unit/test_reload_settings.py
  tests/unit/test_safe_redaction.py
Due: mypy, bandit, ty

perf(encoding): optimize project encoding detection traversal
  src/relace_mcp/config/fs_policy.py
  src/relace_mcp/tools/apply/encoding.py
Due: mypy, bandit, ty

refactor(prompts): unify prompt loading and split retrieval prompts
  src/relace_mcp/config/__init__.py
  src/relace_mcp/prompts/retrieval_openai.yaml
  src/relace_mcp/prompts/retrieval_relace.yaml
  src/relace_mcp/prompts/search_openai_lsp.yaml
  src/relace_mcp/tools/retrieval.py
  src/relace_mcp/tools/search/harness/core.py
  src/relace_mcp/tools/search/schemas/__init__.py
  src/relace_mcp/tools/search/schemas/prompts.py
  tests/unit/test_search_prompts.py
Due: mypy, bandit, ty

feat(mcp): upgrade to FastMCP v3, add tool timeouts, and wire OTel trace IDs
  pyproject.toml
  src/relace_mcp/middleware/tracing.py
  src/relace_mcp/tools/__init__.py
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

refactor: defer client construction and simplify prompt env vars
  .env.example
  README.zh-CN.md
  benchmark/cli/grid.py
  benchmark/cli/run.py
  benchmark/runner/executor.py
  benchmark/runner/metadata.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_mcp/config/__init__.py
  src/relace_mcp/observability/events.py
  src/relace_mcp/observability/traces.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/encoding.py
  src/relace_mcp/tools/retrieval.py
  src/relace_mcp/tools/search/harness/core.py
  tests/contract/test_health_indicators.py
  tests/integration/test_server.py
  tests/unit/test_search_prompts.py
Due: mypy, bandit, ty

fix: defer encoding detection after base_dir resolution and simplify redaction
  src/relace_mcp/observability/events.py
  src/relace_mcp/tools/__init__.py
Due: mypy, bandit, ty

refactor: remove granular log/trace filtering and defer heavy imports for faster startup
  .env.example
  benchmark/runner/executor.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  src/relace_dashboard/log_reader.py
  src/relace_mcp/config/settings.py
  src/relace_mcp/observability/events.py
  src/relace_mcp/observability/traces.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/__init__.py
  tests/unit/test_dashboard_log_path.py
  tests/unit/test_observability_filters.py
  tests/unit/test_reload_settings.py
Due: mypy, bandit, ty

refactor(cloud): replace build-time conditional registration with session-scoped visibility middleware
  src/relace_mcp/middleware/__init__.py
  src/relace_mcp/middleware/visibility.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/__init__.py
  tests/contract/test_mcp_compliance.py
Due: mypy, bandit, ty

refactor(tools): extract progress middleware, async encoding detection, and add tool timeouts
  src/relace_mcp/middleware/__init__.py
  src/relace_mcp/middleware/progress.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/retrieval.py
  tests/integration/test_dotenv_tool_registration.py
  tests/unit/test_async_non_blocking.py
  tests/unit/test_encoding_detection_order.py
  tests/unit/test_tool_timeouts.py
Due: mypy, bandit, ty

feat: event-based tracing and tool execution observability
  benchmark/cli/run.py
  benchmark/config.py
  benchmark/runner/executor.py
  benchmark/runner/metadata.py
  benchmark/runner/preflight.py
  benchmark/tests/test_checkpoint_schema.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_mcp/tools/search/harness/core.py
  src/relace_mcp/tools/search/harness/tool_calls.py
  tests/unit/test_search_harness.py
Due: mypy, bandit, ty

feat(config): reload tool settings after dotenv loading
  pyproject.toml
  src/relace_mcp/config/settings.py
  src/relace_mcp/server.py
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

refactor: harden env parsing, deduplicate git util, and cache encoding detection
  benchmark/runner/metadata.py
  benchmark/runner/preflight.py
  src/relace_mcp/tools/__init__.py
Due: mypy, bandit, ty

refactor: middleware extraction, deferred imports, event-based tracing, and config reload (#80)
  .env.example
  benchmark/cli/run.py
  benchmark/config.py
  benchmark/runner/executor.py
  benchmark/runner/metadata.py
  benchmark/runner/preflight.py
  benchmark/tests/test_checkpoint_schema.py
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  pyproject.toml
  src/relace_dashboard/log_reader.py
  src/relace_mcp/config/settings.py
  src/relace_mcp/middleware/__init__.py
  src/relace_mcp/middleware/progress.py
  src/relace_mcp/middleware/visibility.py
  src/relace_mcp/observability/events.py
  src/relace_mcp/observability/traces.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/retrieval.py
  src/relace_mcp/tools/search/harness/core.py
  src/relace_mcp/tools/search/harness/tool_calls.py
  tests/contract/test_mcp_compliance.py
  tests/integration/test_dotenv_tool_registration.py
  tests/unit/test_async_non_blocking.py
  tests/unit/test_dashboard_log_path.py
  tests/unit/test_encoding_detection_order.py
  tests/unit/test_observability_filters.py
  tests/unit/test_reload_settings.py
  tests/unit/test_search_harness.py
  tests/unit/test_tool_timeouts.py
  uv.lock
Due: uv-lock-check, mypy, bandit, ty

refactor: remove unused LSP tools from search harness
  src/relace_mcp/tools/search/harness/constants.py
  src/relace_mcp/tools/search/harness/core.py
  src/relace_mcp/tools/search/schemas/tool_schemas.py
Due: mypy, bandit, ty

feat: add progress reporting and settings hot-reload
  .gitignore
  benchmark/cli/report.py
  benchmark/metrics/__init__.py
  benchmark/tests/test_benchmark_docs.py
  benchmark/tests/test_preflight.py
  benchmark/tests/test_report_cli.py
  docs/benchmark.md
  docs/benchmark.zh-CN.md
  src/relace_mcp/middleware/progress.py
  src/relace_mcp/server.py
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/retrieval.py
  src/relace_mcp/tools/search/harness/core.py
  tests/contract/test_mcp_compliance.py
  tests/integration/test_agentic_retrieval_integration.py
  tests/unit/test_agentic_retrieval.py
  tests/unit/test_async_non_blocking.py
  tests/unit/test_reload_settings.py
  tests/unit/test_tool_timeouts.py
Due: mypy, bandit, ty

feat: add concurrency guards and merge quality validators to fast_apply
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/errors.py
  src/relace_mcp/tools/apply/snippet.py
  tests/conftest.py
  tests/unit/test_apply_core.py
  tests/unit/test_snippet.py
  tests/unit/test_tools.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  7df2f4008c006fb3304e8e230069c54f5e6d19b8
Due: none

fix: harden apply tool and refine symbol extraction
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
  src/relace_mcp/tools/search/harness/core.py
  tests/unit/test_apply_core.py
  tests/unit/test_snippet.py
Due: mypy, bandit, ty

fix(apply): harden concurrency check and clean up dead code
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  f987b7618297523bb39184392ca2b33d75babc61
Due: none

fix: Remove JavaScript variable declaration keywords from the symbol matching regular expression.
  src/relace_mcp/tools/apply/snippet.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  9b6538a7bd9e319a0ffd9cf0f7c36fbd36313c4b
Due: none

fix: prevent false-positive blast-radius errors on remove directives
  .gitignore
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
  tests/unit/test_apply_core.py
  tests/unit/test_snippet.py
Due: mypy, bandit, ty

refactor: simplify backend lifecycle and consolidate status tools
  src/relace_mcp/repo/backends/chunkhound.py
  src/relace_mcp/repo/backends/codanna.py
  src/relace_mcp/tools/__init__.py
  tests/contract/test_mcp_compliance.py
  tests/integration/test_dotenv_tool_registration.py
  tests/unit/test_chunkhound.py
  tests/unit/test_codanna.py
  tests/unit/test_tool_timeouts.py
Due: mypy, bandit, ty

refactor: rename indexing_status to index_status and remove cloud_info tool
  .env.example
  README.md
  README.zh-CN.md
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/repo/freshness.py
  src/relace_mcp/tools/__init__.py
  tests/integration/test_server.py
  tests/unit/test_freshness.py
  tests/unit/test_index_state.py
  tests/unit/test_index_status_probe.py
  tests/unit/test_tool_timeouts.py
Due: mypy, bandit, ty

refactor: simplify index_status, anchor validation, and blast-radius guard
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
  tests/integration/test_server.py
  tests/unit/test_apply_core.py
  tests/unit/test_index_status_probe.py
  tests/unit/test_snippet.py
Due: mypy, bandit, ty

feat: add progress reporting to fast_apply tool
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
  tests/unit/test_encoding_detection_order.py
Due: mypy, bandit, ty

refactor: improve fast_apply tool descriptions and simplify apply progress
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
Due: mypy, bandit, ty

docs: improve MCP tool descriptions and return type documentation
  src/relace_mcp/tools/__init__.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  74854d684978c3482215e4019716e43888ef8d8a
Due: none

feat(apply): strengthen merge guards, deletion-intent detection, and structured warnings
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/prompts/apply_openai.yaml
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
  tests/unit/test_apply_core.py
  tests/unit/test_snippet.py
  tests/unit/test_tools.py
Due: mypy, bandit, ty

fix: improve progress reporting and local index detection
  docs/advanced.md
  docs/advanced.zh-CN.md
  docs/dashboard.md
  docs/dashboard.zh-CN.md
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/repo/freshness.py
  src/relace_mcp/tools/apply/core.py
  tests/unit/test_apply_core.py
  tests/unit/test_freshness.py
  tests/unit/test_index_status_probe.py
Due: mypy, bandit, ty

refactor: simplify apply pipeline by removing warnings and tightening safety guards
  docs/tools.md
  docs/tools.zh-CN.md
  src/relace_mcp/tools/__init__.py
  src/relace_mcp/tools/apply/core.py
  src/relace_mcp/tools/apply/snippet.py
  tests/unit/test_apply_core.py
  tests/unit/test_snippet.py
  tests/unit/test_tools.py
Due: mypy, bandit, ty

Notes added by 'git notes add'
  8da01b201cb2c5db5e085871c84d4ad448d3fc59
Due: none
